<!-- partials/list-list.html -->


	<section>
		<ul class="list-group">

			{% csrf_token %}
			<form class="sortable list-group" hx-trigger="end" hx-post="{% url 'sort' %}" hx-target="#list-list">
				<div class="htmx-indicator">Updating...</div>
				
				{% for list in lists %}
				<div>
					<input type="hidden" name="list_order" value="{{ list.pk }}" />

					<li class="list-group-item list-group-item-action py-1">
						<span class="handle bi bi-three-dots-vertical pe-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to reorder" ></span>
						<a href="{% url 'tasks-list' list.id %}" class="link-secondary text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="top" title="See all tasks in this list" > {{ list.name }} ({{ list.tasks.count }})
						</a>
						
						<a href="{% url 'tasks-deletelist' list.id %}" class="bi bi-trash3 link-primary float-end" 
							data-bs-toggle="tooltip" data-bs-placement="top" title="Delete this list" >
						</a>
						
						
					</li>
					
				</div>
				{% endfor %}

			</form>

		</ul>
	</section>
