<!-- partials/list-list.html -->

<div>
	<section>
		<ol>
			{% csrf_token %}
			<form class="sortable list-group" hx-trigger="end" hx-post="{% url 'sort' %}" hx-target="#list-list">
				<div class="htmx-indicator">Updating...</div>
				
				{% for list in lists %}
				<div>
					<input type="hidden" name="list_order" value="{{ list.pk }}" />
					<li>
						<span class="handle fa-solid fa-bars" ></span>
						<a href="{% url 'tasks-list' list.id %}"> {{ list.name }} ({{ list.tasks.count }})
						</a>
					</li>
				</div>
				{% endfor %}
				
			</form>
		</ol>
	</section>
</div>
