<!-- partials/list-page.html -->

<div class="text-center mt-4">
	<h4>
                <a href="{% url 'new-list' %}" class="bi bi-plus-lg link-dark text-decoration-none float-start mx-3" 
                data-bs-toggle="tooltip" data-bs-placement="top" title="Add a new list" >
                </a>
                
                <a href="{% url 'tasks-lists' %}" class="link-dark text-decoration-none" 
                data-bs-toggle="tooltip" data-bs-placement="top" title="See all tasks by list" >Lists</a>
        </h4>
</div>
			
<section id="list-list">
        {% include 'partials/list-list.html' %}
</section>
