<!-- tasks/home.html -->

{% extends 'tasks/base.html' %}

{% block content %}
<!--<div class="MiddleWrap">-->
<section class="task-child">
	<h4>Tasks</h4>
	<p>
		<ul>
			<li class="liststyle">
				<a href="{% url 'new-task' %}" class="add-something add-task">Add a task</a>
			</li>
			<br>

			{% for task in tasks %}
			<li>
				<a href="{% url 'tasks-task' task.id %}">#{{ task.pk }} {{ task.name }}</a> ({{task.priority}}{% if task.user_date %}, {{ task.user_date|date:'F j, Y' }}{% endif %})
			</li>
			{% endfor %}
			
		</ul>
	</p>
</section>

<section class="list-child">
	<h4>Lists</h4>
	<p>
		<ul>
			<li class="liststyle">
				<a href="{% url 'new-list' %}" class="add-something add-list">Add a list</a>
			</li>
			<br>

			{% for list in lists %}
			<li>
				<a href="{% url 'tasks-list' list.id %}">#{{list.display_order}} {{ list.name }}</a>
			</li>		
			{% endfor %}
		</ul>
	</p>
	
</section>
<!--</div>-->

{% endblock %}
