<!-- tasks/list.html -->

{% extends 'tasks/base.html' %}

{% block content %}

<div class="content-section">
	<h3>List: {{ list_item.name }}</h3>
	Tasks:
	<ul class="list-group">
		
	{% for task in list_tasks %}
		<li class="list-group-item list-group-item-light"> 
			<a href="{% url 'tasks-task' task.id %}">{{ task.name }}</a> ({{ task.priority }}
			{% if task.user_date %}, {{ task.user_date|date:'F j, Y' }}{% endif %}
			{% if task.url %}, {{ task.url }}{% endif %})</li>
	{% empty %}
		There are no tasks in this list yet.
    {% endfor %}
	</ul>

	<a class="btn btn-primary me-2  bg-light text-secondary" href="{% url 'tasks-updatelist' list_item.id %}">Edit list name</a>
	<a class="btn btn-primary me-2  bg-light text-secondary" href="{% url 'tasks-deletelist' list_item.id %}">Delete list</a>
</div>

{% endblock %}
