{% extends 'tasks/base.html' %}

{% block content %}

<div class="content-section" col-md-8>			


	<h4>Lists</h4>
	<main class="d-flex">
	<p class='text-muted'>

		<ul class="list-group">

			<li class="list-group-item list-group-item-light"><a class="btn btn-primary me-2 btn-outline-info bg-light text-secondary" href="{% url 'new-list' %}">Add a list</a></li>

			
        <section id="list-list">
            {% include 'partials/list-list.html' %}
        </section>
    

		</ul>
	</p>
	</main>
</div>

			{% endblock %}