<!-- tasks/list.html -->

{% extends 'tasks/base.html' %}

{% block content %}

<div>
	<h3>List: {{ list_item.name }}</h3>
	<a href="{% url 'tasks-updatelist' list_item.id %}">Edit list name</a>
	<a href="{% url 'tasks-deletelist' list_item.id %}">Delete list</a>
	<p>Tasks:</p>
	<ul>
		
	{% for task in list_tasks %}
		<li> 
			<a href="{% url 'tasks-task' task.id %}">#{{ task.pk }} {{ task.name }}</a> ({{ task.priority }}
			{% if task.user_date %}, {{ task.user_date|date:'F j, Y' }}{% endif %}
			{% if task.url %}, {{ task.url }}{% endif %})
		</li>
	{% empty %}
		There are no tasks in this list yet.
    {% endfor %}
	</ul>
</div>

{% endblock %}
