<!-- tasks/lists.html -->

{% extends 'tasks/base.html' %}

{% block content %}
<div class="text-center my-4">
	<h4>All Tasks by List</h4>
</div>

<div class="row">
    <section class="col-lg-2"></section>

    <section class="col-lg-8">


        <ul class="list-group">

            {% for list in lists %}
            <li class="list-group-item list-group-item-action py-1">



                <div class="text-center">
                    <h4 class="h5 pt-3 pb-2"><a href="{% url 'new-task' %}"
                            class="bi bi-plus-lg link-dark text-decoration-none float-start mx-3"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Add a new task"></a> {{ list.name }}
                        ({{ list.tasks.count }})
                    </h4>
                </div>

                <ul class="list-group pb-5">

                    {% for task in list.tasks.all %}
                    <li class="list-group-item list-group-item-action py-1">

                        <a href="{% url 'tasks-task' task.id %}" class="link-secondary text-decoration-none"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="See task detail">
                            {{ task.name }}
                        </a>
                        {% if task.user_date %}, ({{ task.user_date|date:'F j, Y' }}){% endif %}

                        <!-- Delete task -->

                        <a href="{% url 'tasks-deletetask' task.id %}" class="bi bi-trash3 link-primary float-end"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Delete this task"></a>


                    </li>



                    {% empty %}
                    <li class="list-group-item">Not found</li>
                    {% endfor %}

                </ul>
            </li>
            {% empty %}
            <li class="list-group-item">Not found</li>
            {% endfor %}
        </ul>


    </section>

    <!-- display all lists -->
    <!-- {# include 'partials/list-page.html' #} -->

    {% endblock %}