<!-- tasks/list.html -->

{% extends 'tasks/base.html' %}

{% block content %}

<div class="big-list-child">
	<h4>List: <span class="detail">{{ list_item.name }}</span></h4>
	<a href="{% url 'tasks-updatelist' list_item.id %}" class="add-something add-list fa-solid fa-pencil" ></a>
	<a href="{% url 'tasks-deletelist' list_item.id %}" class="add-something delete-something fa-solid fa-trash" ></a>
	<p>Tasks:</p>
	<ul>
		<li class="liststyle">
			<a href="{% url 'new-task' %}" class="add-something add-task">Add a task</a>
		</li>
	</ul>
	<br>
	<ul>
		{% for task in list_tasks %}
		<li> 
			<a href="{% url 'tasks-task' task.id %}">display order {{ task.display_order }}: {{ task.name }}</a>
			{% if task.user_date %}, {{ task.user_date|date:'F j, Y' }}{% endif %}
			{% if task.url %}, {{ task.url }}{% endif %}
		</li>
		{% empty %}
		There are no tasks in this list yet.
    	{% endfor %}
	</ul>
</div>

{% endblock %}
