<!-- tasks/priority.html -->

{% extends 'tasks/base.html' %}

{% block content %}

<div class="row">
	<!-- display all lists -->
	<section class="col-md-4">			
	{% include 'partials/list-page.html' %}
	</section>
	
	
	<section class="col-md-8">

		<div class="text-center mt-4">
			<h4><a href="{% url 'new-task' %}" class="bi bi-plus-lg link-dark text-decoration-none float-start mx-3"></a> Priority</h4>
		</div>

		<!-- display all tasks for the priority list -->

		<section id="task-list">

			<ul class="list-group">
				{% for task in tasks %}
				<li class="list-group-item list-group-item-action py-1">
					<a href="{% url 'tasks-task' task.id %}" class="link-secondary text-decoration-none">
						 {{ task.name }}
					</a>
					{% if task.user_date %}, ({{ task.user_date|date:'F j, Y' }}){% endif %}
					<a href="{% url 'tasks-deletetask' task.id %}" class="bi bi-trash3 link-primary float-end"></a>
				</li>
				{% endfor %}
			</ul>

		</section>
	</section>


</div>


{% endblock %}
