<!-- tasks/priority.html -->

{% extends 'tasks/base.html' %}

{% block content %}

<div class="big-list-child">
	<h4>List: <span class="detail">{{ priority_list.name }}</span></h4>
	<a href="{% url 'tasks-updatelist' priority_list.id %}" class="add-something add-list fa-solid fa-pencil" ></a>
	<a href="{% url 'tasks-deletelist' priority_list.id %}" class="add-something delete-something fa-solid fa-trash" ></a>
	<p>Tasks:</p>
	<ul>	
		<li class="liststyle">
			<a href="{% url 'new-task' %}" class="add-something add-task">Add a task</a>
		</li>
	</ul>
	<br>
	<ol>
		{% for task in tasks %}
		<li> 
			<a href="{% url 'tasks-task' task.id %}">{{ task.display_order }} {{ task.name }}</a>
			{% if task.user_date %}, {{ task.user_date|date:'F j, Y' }}{% endif %}
			{% if task.url %}, {{ task.url }}{% endif %}
		</li>
		{% empty %}
		There are no tasks in this list yet.
		{% endfor %}
	</ol>
</div>

{% endblock %}
