<!-- tasks/search.html -->

{% extends 'tasks/base.html' %}

{% block content %}

	<form action="">
		<input type="text" name="searchNoggin" />
		<button type="submit">Search</button>
	</form>
	<p>Searching for {{ searchTerm }}</p>

{% if tasks or lists %}
	{% if tasks %}
	<div>
		<h4>Tasks</h4>
		<ul>
			{% for task in tasks %}
			<li>
				<a href="{% url 'tasks-task' task.id %}">{{ task.name }}</a> ({{task.priority}}{% if task.user_date %}, {{ task.user_date|date:'F j, Y' }}{% endif %})
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

	{% if lists %}
	<div>			
		<h4>Lists</h4>
		<ul>
			{% for list in lists %}
			<li>
				<a href="{% url 'tasks-list' list.id %}">{{ list.name }}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}

{% else %}
<p>Not found</p>
{% endif %}
	
{% endblock %}
