{% if not user.is_authenticated %}

	<div class="content-section">
		<p>Always forgetting things?  <h5>Use yerNoggin!</h5></p>
		<p>Can't remember stuff? <h5>Put it in yerNoggin!</h5></p>
		<p>Swimming in a pile of sticky notes and paper?</p>
		<p><h4>yerNoggin is the answer, the simple, intuitive way to keep track of the millions of little things cluttering your brain.</h4></p>
		<p>To get started, register for an account.  Add a couple lists, then simply start adding tasks, giving each a priority and assigning it to one or more lists.  Click a task to display its details and the lists it has been added to.  Click a list to display the tasks that have been added to it.  Add, edit, or delete lists and tasks as it suits your needs.
		<p>How you use yerNoggin is limited only by your imagination, so what are you waiting for?  Get started now!</p>
	</div>
				
{% endif %}