/* static/tasks/main.css */

/* Big stuff */
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
}

h4 {
  padding: 7px;
  margin-bottom: 10px;
  display: inline-block;
  border-left: 5px solid;
}

ul {
  list-style: none;
}

li {
  padding: 1px;
}

a {
  text-decoration: none;
  color: dimgray;
}

a:hover {
  color: black;
}
/* end Big Stuff */


/* Header/Nav */
header {
  position:sticky;  /* sticky header*/
  top:0px;
}

nav {
  align-items: center;
  background-color: #FFC107;
  padding: 10px;
  box-shadow: 5px 5px 8px dimgray;
}

nav a {
  font-size: 1.2rem;
  margin-right: 1rem;
}

nav a:first-child {
  font-weight: bold;
  font-size: 1.3rem;
}

.right-nav {
  float: right;
}
/* end Header/Nav */


/* main */
main {
  margin: 30px;
}

@media (min-width: 768px) {
  main {
    display: flex;
  }
}

.add-something {
  padding: 7px;
  border: 2px solid;
  border-radius: 5px;
  margin-left: 0;
}

.add-task {
  border-color: #b197fc;
  background-color: #b197fc;
  color: #ffffff;
}

.add-task:hover {
  border-color: #6741d9;
  background-color: #6741d9;
  color: #ffffff;
}

.add-list {
  border-color: #74c0fc;
  background-color: #74c0fc;
  color: #ffffff;
}

.add-list:hover {
  border-color: rgb(20, 110, 190);
  background-color: rgb(20, 110, 190);
  color: #ffffff;
}

.delete-something {
  border-color: #ff5733;
  background-color: #ff5733;
  color: #ffffff;
}

.delete-something:hover {
  border-color: #c72a00;
  background-color: #c72a00;
  color: #ffffff;
}

.detail {
  padding: 10px;
}

/* home.html */
.task-child {
  width: 70%;
}

.task-child h4 {
  border-color: #b197fc;
}

.big-list-child {
  width: 40%;
}

.list-child {
  width: 30%;
}

.list-child h4, .big-list-child h4 {
  border-color: #74c0fc;
}
/* end home.html */

/* priority.html */
.priority-child h4 {
  border-color: #ff5733;
}
/* end priority.html */

/* search.html */
.searchform {
  width: 25%;
}

.searchform h4 {
  border-color: #63e6be;
}

.searchbtn {
  margin-bottom: 10px;
}
/* end search.html */

/* about.html */
.about-child h4 {
  border-color: #63e6be;
}
/* end about.html */

/* profile.html */
.profile-child h4 {
  border-color: #e599f7;
}
/* end profile.html */
/* end Main */


/* Footer */
footer {
  text-align: center;
}
/* end Footer */
