* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: dimgray;
}

@media (min-width: 768px) {
  .parent {
    display: flex;
  }
}

h4 {
  padding: 7px;
  margin: 30px;
  margin-bottom: 5px;
  /*width: 100px; */
  display: inline-block;
}

.task-child {
  width: 70%;
}

.task-child h4 { /*
  background-color: #b197fc; */
  border: 3px solid #b197fc; /*
  border-radius: 15px; */
}

.list-child {
  width: 30%;
  /*border: 5px solid #63e6be;*/
}

.list-child h4 { /*
  background-color: #ffd43b; */
  border: 3px solid #74c0fc; /*  */
}

.searchform {
  border: 3px solid red;
}

.tasktest {
  width: 70%;
  border: 3px solid purple;
}

.listtest {
  width: 30%;
  border: 3px solid green;
}

a {
  text-decoration: none;
  color: dimgray;
}

a:hover {
  text-decoration: underline;
  color: black;
}

header {
  /* sticky */
  position:sticky;
  top:0px;
}

nav {
  align-items: center;
  background-color: #FFC107;
  padding: 10px;
  box-shadow: 5px 5px 8px dimgray;
  margin-bottom: 1rem;
}

nav a {
  font-size: 1.2rem;
  margin-right: 1rem;
}

nav a:first-child {
  font-weight: bold;
  font-size: 1.3rem;
}

.right-nav {
  float: right;
}

footer {
  text-align: center;
}
